{% extends 'base.html.twig' %}

{% block title %}Grath index{% endblock %}

{% block body %}
    <h1>Grath index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Preco</th>
                <th>VendasMensais</th>
                <th>QuantidadeEmStock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grath in graths %}
            <tr>
                <td>{{ grath.id }}</td>
                <td>{{ grath.preco }}</td>
                <td>{{ grath.vendasMensais }}</td>
                <td>{{ grath.quantidadeEmStock }}</td>
                <td>
                    <a href="{{ path('grath_show', {'id': grath.id}) }}">show</a>
                    <a href="{{ path('grath_edit', {'id': grath.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('grath_new') }}">Create new</a>
{% endblock %}
